body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918e9b;
}

section {
  padding: 20px;
}

/* Navbar */

nav {
  height: 70px;
  width: auto;
  display: flex;
  align-items: center;
  box-shadow: 0px 2.9825618267059326px 7.456404209136963px 0px
    rgba(0, 0, 0, 0.1);
}

.nav--logo {
  margin: 22px 30px;
  width: 82px;
  height: 25.35px;
}

/* Hero */

.hero {
  display: flex;
  flex-direction: column;
}

.hero--grid {
  height: 230px;
  width: auto;
  margin: 20px auto;
  justify-items: center;
  max-width: 400px;
  align-self: center;
}

.hero--text {
  margin-left: 30px;
  line-height: 20px;
}

.hero--text > h1 {
  max-width: 350px;
  margin-top: 20px;
  font-size: 36px;
}

.hero--text > p {
  max-width: 320px;
  font-size: 16px;
}

/* Card */

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto; /* ADD */
  display: flex; /* ADD */
  flex-direction: column; /* ADD */
}

.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
  height: 233.98px;
  object-fit: cover;
}

/* ADD */
.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

/* ADD */
.card--price {
  margin-top: auto;
}
